* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    background-color: #C1D2D9;
    width: 100vw;
}

nav li {
    display: inline;
    margin: 1px;
    background-color: whitesmoke;
    position: relative;
    left: 480px;
    top: 130px;
    font-size: 3rem;
    border: 3px solid #0CABA8;
    font-family: 'Nunito', sans-serif;
}
a {
    color: #0CABA8;
}

.Afa {
    position: relative;
    bottom: 25px;
    left: 10px;
}




h1 {
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: 120px;
    left: 150px;
    color: white;
    font-size: 5rem;
}

.Arg78 {
    width: 520px;
    height: 520px;
    position: relative;
    top: 180px;
    left: 40px;
}

.Arg78A {
    font-family: 'Nunito', sans-serif;
    font-size: 29px;
    text-align: right;
    color: white;
    width: 490px;
    height: 490px;
    position: relative;
    bottom: 460px;
    left: 750px;
}

.Arg78A a {
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        text-align: right;
        position: relative;
        left: 0px;
        color: blue;  
}

.Arg86 {
    width: 520px;
    height: 520px;
    position: relative;
    bottom: 100px;
    left: 700px;
    top: 200px;
}

.Arg86A a {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    text-align: right;
    position: relative;
    left: 0px;
    color: blue;
}

h2 {
    position: relative;
    left: 800px;
    top: 130px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 5rem;
}

.Arg86A {
    font-family: 'Nunito', sans-serif;
    font-size: 29px;
    text-align: left;
    color: white;
    width: 490px;
    height: 490px;
    position: relative;
    bottom: 460px;
    left: 30px;
}

footer {
    background-color: #C1D2D9;
    width: 100vw;
}

footer li {

    display: inline;
    margin: 4px;
    position: relative;
    bottom: 70px;

}

.Contacto {
    width: 50px;
    height: 50px;
    position: relative;
    top: 100px;
}
 

.Ubi {
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
}


footer li{
    text-align: center;
    color: black;
    font-size: 15px;
    
}

body {
    background-color: #0CABA8;
}

.Cont {

    font-size: 22px;
    color: black;

}