$font_titulo1: 'Poppins';
$font_titulo2: 'Montserrat';
$font_titulo3: 'Anton';
$font_titulo4: 'Sarabun';

@mixin tamanos ($ancho, $alto){
    width: $ancho;
    height: $alto;
 } 

.bg-darkq{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 20;
    width: 100%;
        .navbarq{
        background-color: rgba(0, 0, 0, 0.1);
        
}

}

.mex{
    background: #025940;
}

.encab_m{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://media.lacapital.com.ar/p/9ccffee32807fbb847ae2101041f7d8d/adjuntos/203/imagenes/100/107/0100107352/1200x675/smart/argentina-vs-alemania-1986webp.png');
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    text-align: center; 
    padding: 100px 0; 
    height: 100vh;
    
    .titulo_arg{
    font-family: $font_titulo4;
    color: white;
    font-size: 4rem;
    letter-spacing: .5rem;
    margin: 0; 
    font-size: 48px; 
    margin-top: 6rem;
    }
    
    .sub_arg{
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        margin-right: -3px;
    }
}


.cont_arg{
    overflow: auto;
      div {
            .tata{
            float: left;
            margin-right: 10px;
            @include tamanos(700px,500px )
        }
        
        .arab_text_m{
            margin-top: 4rem;
            font-family: $font_titulo2;
            margin-left: 110px;
            font-size: 2rem;
        }
      }  
    
}


.azteca{
    background-image: linear-gradient(0deg, rgba(38,40,40,0) 0%, rgba(47,44,38,1) 95%), url('https://pbs.twimg.com/media/E15NaimXoAA-IT4?format=jpg&name=4096x4096'); 
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    text-align: center; 
    padding: 100px 0; 
    height: 500px;
    font-family: $font_titulo1;
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.mano_dios{
    background-image:linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(0,0,0,0) 100%), url('https://assets.eldesconcierto.cl/2020/11/A_UNO_1234983-1024x683.jpg'); 
    background-size: cover;
    height: 800px;
    background-position: center; 
    color: #fff; 
    text-align: left; 
    padding: 100px 100; 
    font-family: $font_titulo4;
    overflow: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
   .manodios_text {
    font-size: 1.9rem;
    width: 400px;
    margin-left: 40px;
   }

}

.image-group_q {
    margin-top: 6rem;
    margin-bottom: 6rem;
    .cor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px; 
        float: right;
        }
    .imagen {
        width: 300px;
        height: 300px;
        object-fit: cover;
        }
  }   

  .cont_arg_der{
    .hol_tit{
        font-family: $font_titulo4;
        font-size: 2rem;
        color: white;
        text-align: center;
    }
   .hol_text{
    font-family: $font_titulo2;
    font-size: 2.5rem;
    color: white;
    margin-top: 40px;
}
    
  }

  .diego_cup{
    background-image: url(https://digitalhub.fifa.com/m/5f55e6bdd68f3774/original/dpmzxgtbug5f5pzrld1x-jpg.jpg); 
    background-size: cover;
    height: 800px;
    background-position: center; 
    color: #fff; 
    text-align: left; 
    padding: 100px 100; 
    font-family: $font_titulo4;
    overflow: auto;
   .cupdiego_text {
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 1.5rem;
    margin-top: 30rem;
    text-align: center;
   }

}

.cont_arg{
    overflow: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
        
    .barrilete{
        float: left;
        margin-right: 10px;
        @include tamanos(700px,500px )
    }
    .arg_intro_barrilete{
            text-align: center;
            font-family: $font_titulo4;
            color: white;
            line-height: 1.6;
            margin-bottom: 2.4rem
            
    }
    .barrilete_text{
        font-family: $font_titulo4;
        margin-left: 110px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1100px){

    .cont_arg{
            
        
            
        .tata{
            text-align: center;
            
        }
        
        .arab_text_m{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
    
    
    .cont_arg_der{
        overflow: auto;
        .bot{
            float: right;
            margin-right: 10px;
            width: 300px;
            height: 80%;
        }
        .bot_intro{
            text-align: right;
            font-family: $font_titulo4;
            color: white;
            line-height: 1.6;
            margin-bottom: 2.4rem
        }
        .bot_text{
            font-family: $font_titulo4;
            margin-left: 110px;
        }
    }
    
    .mano_dios{
        
       .manodios_text {
        font-size: 1.5rem;
        width: 400px;
        margin-left: 40px;
       }
    
    }
    
    .image-group_q {
        .cor{
           text-align: center;
            }
        .imagen {
            width: 400px;
            height: 500px;
            object-fit: cover;
            }
      }   
    
      .cont_arg_der{
        .hol_text{
            font-size: 1.5rem;
            margin-top: 40px;
        }
        
      }
    .cont_arg{
            .diego_cup{
            
            .cupdiego_text {
            font-size: 1.5rem;
            margin-top: 30rem;
            text-align: center;
        }
        
        }
    }
      
   }

   @media screen and (max-width:510px){
    .encab_q{
        
        .titulo_arg{
        font-size: 2rem;
        
        }
        
        .sub_arg{
            font-size: .8rem;
            letter-spacing: 3px;
            
            }
        }

        .cont_arg{
            
            .tata{
                text-align: center;
                width: 100vw;
                height: 400px;
            }
        
            .arab_text_m{
                font-family: $font_titulo2;
                font-size: 1rem;
                text-align: left;
            }
        }
        
        
        .azteca{
            .lus {
            font-family: $font_titulo2;
            font-size: 1rem;
            }
            
        }
        
        .mano_dios{
           .manodios_text {
            font-size: 1.4rem;
            width: 100vw;
            margin-left: 40px;
            text-align: left;
           }
        
        }
        
        .image-group_q {
            .cor{
               text-align: center;
                }
            .imagen {
                width: 400px;
                height: 500px;
                object-fit: cover;
                }
          }   
        
          .cont_arg_der{
            .hol_text{
                font-size: 1.5rem;
                margin-top: 40px;
            }
            
          }
        
          .diego_cup{
            background-position: center;
           .cupdiego_text {
            font-size: 1.2rem;
            margin-top: 30rem;
            text-align: center;
           }
        
        }
    }


  
  
  